<?xml version="1.0"?>
<config>
    <modules>
        <Quentingrisard_CouponAllopass>
            <version>0.1.0</version>
        </Quentingrisard_CouponAllopass>
    </modules>
    <frontend>
        <routers>
            <couponallopass>
                <use>standard</use>
                <args>
                    <module>Quentingrisard_CouponAllopass</module>
                    <frontName>couponallopass</frontName>
                </args>
            </couponallopass>
        </routers>
    </frontend>  
    <global>   
        <helpers>
            <couponallopass>
                <class>Quentingrisard_CouponAllopass_Helper</class>
            </couponallopass>
        </helpers>
        <models>
            <coupon>
                <class>Quentingrisard_CouponAllopass_Model</class>
                <resourceModel>coupon_mysql4</resourceModel>
            </coupon>
            <coupon_mysql4>
                <class>Quentingrisard_CouponAllopass_Model_Mysql4</class>
                <entities>
                    <coupon>
                        <table>couponallopass</table>
                    </coupon>
                </entities>
            </coupon_mysql4>
            <resources>
                <coupon_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </coupon_write>
                <coupon_read>
                    <connecion>
                        <use>core_read</use>
                    </connecion>
                </coupon_read>
            </resources>
            <checkout>
                <rewrite>
                    <!-- Model -->
                    <type_onepage>Quentingrisard_CouponAllopass_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
    </global>
    <default>
        <tab1>
            <general>
                <text_field>Default value</text_field>
                <textarea></textarea>
                <dropdown>key2</dropdown>
                <multiple_dropdown>key1,key2</multiple_dropdown>
                <time>11,30,45</time>
                <active>0</active>
                <boolean>1</boolean>
                <dependant_text_field>Default value</dependant_text_field>
            </general>
        </tab1>
    </default>
</config>